<div class="single_post_content">
    <h2><span>GALLERY</span></h2>
    <ul class="photograph_nav  wow fadeInDown">
     {% for post in photography %}
      <li>
        <div class="photo_grid">
          <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="{% url 'post-detail' post.pk %}" title="Photography Ttile 1"> <img src="{{ post.featured_image.url }}" alt="{{ post.title }}"/></a> </figure>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>