{% load static %}
<div class="comments-area">
    <h4>{{ post.comment_set.count }} comments </h4>
    {% for comment in post.comment_set.all %}

    <hr><div class="comment-list" style="background-color: antiquewhite; padding: 10px; border-radius: 10px;">
        <div class="single-comment justify-content-between d-flex">
            <div class="user justify-content-between d-flex">
                <div class="thumb">
                    <img src="{% static 'newsroom/assets/css/images/coolgirl.png' %}" alt="{{ comment.name }}" width="50px" /> 
                </div>
                <div class="desc">
                   <h5> <p class="comment">{{ comment.comment }}</p> </h5>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <div>
                                <p>{{ comment.name }} ,  {{ comment.created_at|date:"F/d/Y" }} <p>
                                
                            </div>
                           

                        </div>
                        <div class="reply-btn">
                            <a href="#" class="btn-reply text-uppercase">reply</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    <hr></div>
    {% endfor %}
</div>