{% extends "newsroom/base.html" %}
{% load static %}
{% block content %}

<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
            {% include "newsroom/contact/left/left_contact.html" %}
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
         
            {% include "newsroom/home/contentSection/right/popular_post.html" %} 
          
        </aside>
      </div>
    </div>
  </section>
</div>

{% endblock content %}