<div class="col-lg-4 col-md-4 col-sm-4">
    <aside class="right_content">
    
    {% include "newsroom/home/contentSection/right/popular_post.html" %}
    {% include "newsroom/home/contentSection/right/Category_section.html" %}
    {% include "newsroom/home/contentSection/right/sponser.html" %}
    {% include "newsroom/home/contentSection/right/category.html" %}
    {% include "newsroom/home/contentSection/right/links.html" %}
    {% include "newsroom/detail/newsletter.html" %} 

    </aside>
  </div>